<!DOCTYPE html>
<html lang="en">
<head>
    <!--    settings & API-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>:root {
        color-scheme: dark;
    }</style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <!--    title-->
    <title>payment</title>
</head>
<body class="w-[75%] mx-auto bg-gray-950 p-5">
{% block main %}
{% endblock %}
</body>
</html>